<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Test</title>
	<style>
		html, body {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			border: 0;
		}
		#test-app {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 10px;
			margin: auto;
		}
		#overlay {
			position: absolute;
			background-color: white;
			width: 100%;
			height: 100%;
			z-index: 10;
		}
		#content {
			position: relative;
			width: 100%;
			height: 100%;
		}
	</style>
  </head>

  <body>
	
    <div id="test-app">
		<div id="overlay" v-if="showOverlay">Loading...</div>
		<div id="content">
			<h1>{{ msg }}</h1>
			<h2>Hier solltest du eine Liste von verschiedenen Namen sehen:</h2>
			<div class="user-list">
				<ol>
					<li v-for="user in users">
					  user.name
					</li>
				</ol>
			</div>
		</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>

    <script>
      new Vue({
        el: "#test",
        data() {
          return {
            msg: "Willkommen bei MONDAY.ROCKS!",
			showOverlay: true,
			users: [],
          }
        },
		mounted() {
			fetch('https://jsonplaceholder.typicode.com/users')
			.then(response => response.json())
			.then(json => {
				this.users = json;
				showOverlay = false;
			} )
			.catch(error => console.log(error))
		}
      });
    </script>

  </body>
</html>